body {
	font:11px Verdana,Arial;
	width:1115px;
	margin: auto;
	background: url(../images/stretchbg.blampng) no-repeat fixed;
	background-size:cover;
	background-color: #dfdfdf /*#e6e6e6 /*#EAE9E4 /*#D4D3D3/*#DEDEDE*/;
	text-align: center;
	border: 1px solid gray;
	box-shadow: 2px 5px 5px 0px lightgray;
	}
	
#text {
	float:left; 
	clear:left; 
	margin-top:30px;
	margin-left:20px;
	margin-right: 20px;
	}	

#gqaheader {
	background: url(../images/banner/gqabanner.png);
	background-position: center;
	height: 100px;
	}

#exportheader {
	background: url(../images/banner.png);
	background-position: center;
	height: 100px;
	}
	
#footer {
	text-align: center;
	clear:both;
	padding: 10px;
	margin: 0px;
	box-sizing: border-box;
	width: 100%;
	height:100%;
	bottom: 0;
	color: black;
	/*border-style: solid;
    border-width:2px 0px 0px 0px;
	/*border-color: gray;*/
	background-color: #e6e6e6;
	}
	

#footer a{
color: blue;
text-decoration:none;
}	
	
#footer a:hover{
color: red;
text-decoration:none;
}



#title {
	text-align:center;
	font:"Arial", Gadget, sans-serif;
	color:#FFF;
	font-weight:800;
	font-size:46px;
	background-color:#000;
	}

	ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
    background-color: gray;
	}
	
	li{
	  display: inline;
	  margin:4px;
	  float: left;
	  color:white;
	}
	
	li a {
	color:white;
	text-decoration:none;
	}
	
	li a:hover{
	color:pink;
	}
#header{
height:60px;
color:white;
font-size:18pt;	
background-color: black;
}
/*----------------------Suppliers-------*/
#upperhead{
background-color:white;
height:48px;
margin-top:-14px;
}

#directions{
float:left;
background-color:lightgray;
color:black;
height:40px;
width:175px;
margin-top:4px;
margin-left:4px;
border:dotted;
border-width:2px;
border-color:black;
}

#QSLtitle{
font-size:24pt;
margin-left:190px;
}

#NewSupplier{
margin-left:200px;
height:30px;
}

#ClearFilters{
height:30px;
}
#bottomhead{
background-color:white;
height:50px;
border-bottom: 2px solid black;
}

#SupplierCode{
float:left;
margin-left:0px;
margin-top:4px;
}

#SelectSupplierCode{
width:150px;
margin-top:4px;
float:left;
margin-left:27px;
}


#ASupplierCode{
float:left;
}

#SelectASupplierCode{
float:left;
width:150px;
margin-left:9px;
}

#SupplierName{
float:left;
margin-left:12px;
}

#SelectSupplierName{
float:left;
width:250px;
margin-left:6px;
}

#Status{
float:left;
margin-left:6px;
}

#SelectStatus{
float:left;
margin-left:6px;
width:150px;
}

#SupplierInfo{
background-color:white;
height: 20px;
border-bottom: 2px solid black;
}

#SCode2{
float:left;
margin-left:180px;
}

#PLocation{
float:left;
margin-left:60px;
}

#SName{
float:left;
margin-left:60px;
}

#State{
float:left;
margin-left:60px;
}

#ZCode{
float:left;
margin-left:60px;
}

#Status2{
float:left;
margin-left:60px;
}

#Country{
float:left;
margin-left:60px;
}

/*-----------------------reports-------------*/

#Reduction{
height: 200px;
width: 300px;
float:left;
background-color:white;
border-bottom:1px solid black;
}
#ReductionLabel{
float:left;
margin-top:10px;
}

#ReportList{
height: 200px;
width: 815px;
float:left;
background-color:White;
border-bottom:1px solid black;
}

.ReportListLabels{
float:left;
margin-left:100px;
}

.rButton{
margin-left:-300px;
}

#rbutton1{

}
#rbutton2{
margin-right:14px;
}
#rbutton3{
margin-right:26px;
}
#rbutton4{
margin-right:47px;
}
#rbutton5{
margin-right:-38px;
}
#rbutton6{
margin-right:-20px;
}
#rbutton7{
margin-right:-90px;
}


#reportButtons{
border-bottom:1px solid black;
}

#PReportButton{

}

#ClearButtonReports{
width:114px;
}


#SelectSupplierStatusR{
width:150px;
margin-left:16px;
}

#SelectIER{
width:150px;
margin-left:6px;
}

#SelectBusinessUnitR{
width:150px;
margin-left:26px;
}

#SelectEngineR{
width:150px;
margin-left:14px;
}


/*----------------------------Admin-----------------*/
#adminlinks{
height:280px;
background-color:#FAF2F2;
width: 300px;
margin-left:50px;
margin-top:10px;
border: 1px solid black;
}

#security{
width:166px;
margin-top:10px;
float:left;
margin-left:70px;
}

#LookupCerts{
width:166px;
float:left;
margin-left:70px;
}

#LookupStatus{
width:166px;
float:left;
margin-left:70px;
}

#LookupCommodities{
width:166px;
float:left;
margin-left:70px;
}

#LookupSupplierType{
width:166px;
float:left;
margin-left:70px;
}

#LookupMaint{
width:166px;
float:left;
margin-left:70px;
}

#LookupEngine{
width:166px;
float:left;
margin-left:70px;
}

#ChangingInformation{ 
height:280px;
background-color:white;
width: 700px;
margin-left:380px;
margin-top:-282px;
border: 1px solid black;
}

#importantButtons{
border-bottom:2px solid black;
height:30px;
}

/*----------------Admin javascript styling----------*/


#MainLabelSecurity{
color:blue;
font-size:18pt;
}

#SelectLabelSecurity{
color:blue;
font-size:12pt;
float:left;
margin-top:-200px;
margin-left:150px;
}

#SelectPersonSecurity{
float:left;
margin-left:273px;
margin-top:-200px;
width:300px;
}

#ViewSecurity{
margin-top:32px;
margin-right:10px;
}

#EditSecurity{ 
margin-top:32px;
margin-right:10px;
}

#AddSecurity{
margin-top:32px;
}

#ClockIDLabelSecurity{
color:blue;
font-size:12pt;
float:left;
margin-top:-150px;
}

#FNLabelSecurity{
color:blue;
font-size:12pt;
float:left;
margin-top:1px;
margin-top:-126px;
}

#LNLabelSecurity{
color:blue;
font-size:12pt;
float:left;
margin-top:-102px;
}

#MILabelSecurity{
color:blue;
font-size:12pt;
float:left;
margin-top:-126px;
margin-left:275px;
}

#CIDTSecurity{
float:left;
margin-top:-150px;
margin-left:110px;
}

#FNTSecurity{
float:left;
margin-top:-126px;
margin-left:110px;
}

#MITSecurity{
float:left;
margin-top:-126px;
margin-left:386px;
width:25px;
}

#LNTSecurity{
float:left;
margin-top:-102px;
margin-left:110px;
}

#FullNameSecurity{
color:blue;
font-size:12pt;
float:left;
margin-top:-70px;
margin-left:0px;
}

#FullLNTSecurity{
float:left;
margin-top:-70px;
margin-left:110px;
width:200px;
}

#ClearButtonSecurity{
margin-left:10px;
}

#DeactivateLabel{
color:blue;
font-size:12pt;
float:left;
margin-top:-40px;
margin-left:0px;
}

#ViewOnlyLabel{
color:blue;
font-size:12pt;
float:left;
margin-top:-156px;
margin-left:526px; 
}

#QSLEditLabel{
color:blue;
font-size:12pt;
float:left;
margin-top:-140px;
margin-left:537px;
}


#MetricsEditLabel{
color:blue;
font-size:12pt;
float:left;
margin-top:-124px;
margin-left:513px;
}


#AuditEditLabel{
color:blue;
font-size:12pt;
float:left;
margin-top:-108px;
margin-left:528px;
}


#RiskEditLabel{
color:blue;
font-size:12pt;
float:left;
margin-top:-92px;
margin-left:536px;
}


#SystemCreatorLabel{
color:blue;
font-size:12pt;
float:left;
margin-top:-75px;
margin-left:480px;
}


#AdministratorLabel{
color:blue;
font-size:12pt;
float:left;
margin-top:-58px;
margin-left:496px;
}

#DeactivateCbox{
float:left;
margin-top:-38px;
margin-left:110px;
}

#VOCbox{
float:left;
margin-top:-156px;
margin-left:620px;
}

#QSLCbox{
float:left;
margin-top:-140px;
margin-left:620px;
}

#MCbox{
float:left;
margin-top:-124px;
margin-left:620px;
}

#ACbox{
float:left;
margin-top:-108px;
margin-left:620px;
}

#RCbox{
float:left;
margin-top:-92px;
margin-left:620px;
}

#SCbox{
float:left;
margin-top:-74px;
margin-left:620px;
}

#AdminCbox{
float:left;
margin-top:-58px;
margin-left:620px;
}

/*---------------Commodtites------------------------*/
#MainLabelLookupComd{
color:blue;
font-size:18pt;
}

#SelectComdLookupLabel{
color:blue;
font-size:12pt;
float:left;
margin-top:-200px;
margin-left:150px;
}

#SelectCertLookupComd{
float:left;
margin-left:300px;
margin-top:-200px;
width:300px;
}

#ViewComd{
margin-top:32px;
margin-right:10px;
}

#EditComd{ 
margin-top:32px;
margin-right:10px;
}

#AddComd{
margin-top:32px;
}

#DeactivateCboxComd{
float:left;
margin-top:-128px;
margin-left:560px;
}

#ComdID{
color:blue;
font-size:12pt;
float:left;
margin-top:1px;
margin-top:-126px;
}

#ComdName{
color:blue;
font-size:12pt;
float:left;
margin-top:-102px;
}

#ComdDescription{
color:blue;
font-size:12pt;
float:left;
margin-top:-78px;
}

#ComdIDTextbox{
float:left;
margin-top:-126px;
margin-left:90px;
}

#ComdNumTextbox{
float:left;
margin-top:-102px;
margin-left:90px;
}

#ComdDescriptionTextbox{
float:left;
margin-top:-78px;
margin-left:152px;
width:450px;
}

#DeactivateLabelComd{
color:blue;
font-size:12pt;
float:left;
margin-top:-130px;
margin-left:460px;
}

/*-----------------lookup cert---------------------------*/
#MainLabelLookupCert{
color:blue;
font-size:18pt;
}

#SelectCertLookupLabel{
color:blue;
font-size:12pt;
float:left;
margin-top:-200px;
margin-left:150px;
}

#SelectCertLookupCert{
float:left;
margin-left:300px;
margin-top:-200px;
width:300px;
}

#ViewCert{
margin-top:32px;
margin-right:10px;
}

#EditCert{ 
margin-top:32px;
margin-right:10px;
}

#AddCert{
margin-top:32px;
}

#DeactivateCboxCert{
float:left;
margin-top:-128px;
margin-left:560px;
}

#CertID{
color:blue;
font-size:12pt;
float:left;
margin-top:1px;
margin-top:-126px;
}

#CertName{
color:blue;
font-size:12pt;
float:left;
margin-top:-102px;
}

#CertDescription{
color:blue;
font-size:12pt;
float:left;
margin-top:-78px;
}

#CertIDTextbox{
float:left;
margin-top:-126px;
margin-left:90px;
}

#CertNumTextbox{
float:left;
margin-top:-102px;
margin-left:90px;
}

#CertDescriptionTextbox{
float:left;
margin-top:-78px;
margin-left:140px;
width:450px;
}

#DeactivateLabelCert{
color:blue;
font-size:12pt;
float:left;
margin-top:-130px;
margin-left:460px;
}
/*-----------------------status--------------------------*/
#MainLabelLookupStatus{
color:blue;
font-size:18pt;
}

#SelectStatusLookupLabel{
color:blue;
font-size:12pt;
float:left;
margin-top:-200px;
margin-left:150px;
}

#SelectStatusLookupStatus{
float:left;
margin-left:300px;
margin-top:-200px;
width:300px;
}

#ViewStatus{
margin-top:32px;
margin-right:10px;
}

#EditStatus{ 
margin-top:32px;
margin-right:10px;
}

#AddStatus{
margin-top:32px;
}

#DeactivateCboxStatus{
float:left;
margin-top:-128px;
margin-left:560px;
}

#StatusID{
color:blue;
font-size:12pt;
float:left;
margin-top:1px;
margin-top:-126px;
}

#StatusName{
color:blue;
font-size:12pt;
float:left;
margin-top:-102px;
}

#StatusNumTextbox{
float:left;
margin-top:-102px;
margin-left:90px;
}

#StatusIDTextbox{
float:left;
margin-top:-126px;
margin-left:90px;
}
/*----------supplier Type -----------------------*/

#MainLabelSupplierType{
color:blue;
font-size:18pt;
}

#SelectStatusLookupLabel{
color:blue;
font-size:12pt;
float:left;
margin-top:-200px;
margin-left:150px;
}

#SelectSupplierLookup{
float:left;
margin-left:300px;
margin-top:-200px;
width:300px;
}

#ViewST{
margin-top:32px;
margin-right:10px;
}

#EditST{ 
margin-top:32px;
margin-right:10px;
}

#AddST{
margin-top:32px;
}

#DeactivateCboxST{
float:left;
margin-top:-128px;
margin-left:560px;
}

#DeactivateLabelST{
color:blue;
font-size:12pt;
float:left;
margin-top:-130px;
margin-left:460px;
}

#InternalCbox{
float:left;
margin-top:-110px;
margin-left:560px;
}

#InternalLabelST{
color:blue;
font-size:12pt;
float:left;
margin-top:-110px;
margin-left:490px;
}

#SupplierTypeID{
color:blue;
font-size:12pt;
float:left;
margin-top:1px;
margin-top:-126px;
}

#SupplierType{
color:blue;
font-size:12pt;
float:left;
margin-top:-102px;
}

#SupplierTypeIDi{
color:blue;
font-size:12pt;
float:left;
margin-top:1px;
margin-top:-126px;
margin-left: 142px;
}

#SupplierTypei{
color:blue;
font-size:12pt;
float:left;
margin-top:-92px;
margin-left: 120px;
}

#SelectStatusLookupLabel1{
color:blue;
font-size:12pt;
float:left;
margin-top:-145px;
margin-left:0px;
}

#SelectStatusLookupLabel2{
color:blue;
font-size:12pt;
float:left;
margin-top:-120px;
margin-left:0px;
}

#SelectStatusLookupLabel3{
color:blue;
font-size:12pt;
float:left;
margin-top:-90px;
margin-left:0px;
}

#SelectStatusLookupLabel4{
color:blue;
font-size:12pt;
float:left;
margin-top:-60px;
margin-left:0px;
}

#SelectStatusLookupLabel5{
color:blue;
font-size:12pt;
float:left;
margin-top:-35px;
margin-left:0px;
}

#SelectStatusLookupLabel6{
color:blue;
font-size:12pt;
float:left;
margin-top:-10px;
margin-left:80px;
}

#SupplierTypeSTID{
float:left;
margin-top:-140px;
margin-left:10px;
}

#SupplierTypeST{
float:left;
margin-top:-115px;
margin-left:10px;
}
#SupplierTypeAF{
float:left;
margin-top:-85px;
margin-left:10px;
}
#SupplierTypeSF{
float:left;
margin-top:-55px;
margin-left:10px;
}
#SupplierTypeHLC{
float:left;
margin-top:-30px;
margin-left:10px;
}
#SupplierTypeComments{
float:left;
margin-top:-5px;
margin-left:10px;
height:30px;
width:250px;
}
/*--------------maint ------------------*/

#StatusName3{
color:blue;
font-size:12pt;
float:left;
margin-top:-95px;
}


#StatusName33{
color:blue;
font-size:12pt;
float:left;
margin-top:-60px;
}

#StatusNumTextbox3{
float:left;
margin-top:-60px;
margin-left:190px;
width:350px;
}

#StatusNumTextbox{
float:left;
margin-top:-95px;
margin-left:90px;
}



/*-------------------engine program----------------------------------*/

#MainLabelLookupEngine{
color:blue;
font-size:18pt;
}

#SelectEngineLookupLabel{
color:blue;
font-size:12pt;
float:left;
margin-top:-200px;
margin-left:150px;
}

#SelectEngineLookupStatus{
float:left;
margin-left:300px;
margin-top:-200px;
width:300px;
}

#ViewEngine{
margin-top:32px;
margin-right:10px;
}

#EditEngine{ 
margin-top:32px;
margin-right:10px;
}

#AddEngine{
margin-top:32px;
}

#DeactivateCboxStatus{
float:left;
margin-top:-128px;
margin-left:560px;
}

#EngineID{
color:blue;
font-size:12pt;
float:left;
margin-top:1px;
margin-top:-126px;
}

#EngineName{
color:blue;
font-size:12pt;
float:left;
margin-left:24px;
margin-top:-102px;
}

#EngineTextbox{
float:left;
margin-top:-102px;
margin-left:90px;
width:300px;
}

#EngineIDTextbox{
float:left;
margin-top:-126px;
margin-left:90px;
}

